// 공통
$black : #000;
$white : #fff;


// BG color
$gray1 : #f7f7f7;
$gray2 : #f3f3f3;
$gray3 : #555;
$gray4 : #646464;

$blue : #3074f0;
$blue1 : #eaf1fd;
$yellow : #f7c71d;
$purple : #aa78dc;
$pink : #f49ac0;

//border-color
$bd-1 : #c2c2c2;

// TXT color
$txt1 : #555;
$txt2 : #666;
$txt3 : #808080;
$txt4 : #ff3d01;
$txt5 : #3074f0;
$txt6 : #cbc9c9;

