@charset 'UTF-8';


@font-face {
    font-family: 'NotoSans_B';
    src:local('NotoSansKR'), 
        url(./fonts/NotoSansKR-Bold.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'NotoSans_L';
    src:local('NotoSansKR'), 
        url(./fonts/NotoSansKR-Light.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'NotoSans_M';
    src:local('NotoSansKR'), 
        url(./fonts/NotoSansKR-Medium.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'NotoSans_R';
    src:local('NotoSansKR'), 
        url(./fonts/NotoSansKR-Regular.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}