.d-flex {
  display: flex;
}
.d-flex-xr {
  justify-content: right;
}
.d-flex-xc {
  justify-content: center;
}
.d-flex-xb {
  justify-content: space-between;
}
.d-flex-yc {
  align-items: center;
}
.d-flex-yb {
  align-items: flex-end;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

@-webkit-keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  overflow-x: hidden;
}

#ktWrap {
  width: 100%;
}

#notice {
  width: 100%;
  height: 72px;
  background-color: #0e1620;
}

.n-inner {
  width: 1080px;
  height: 72px;
  position: relative;
}
.n-inner::before {
  content: "";
  width: 170px;
  height: 72px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #21334f;
}
.n-inner .close-btn {
  background-color: transparent;
  border: 0 none;
  color: #fff;
  cursor: pointer;
}

.n-box {
  flex: none;
  width: 850px;
  height: 72px;
  position: relative;
  z-index: 100;
}
.n-box .swiper01 {
  width: 850px;
  height: 72px;
}
.n-box .n-tit, .n-box .n-txt {
  line-height: 72px;
  flex: none;
  color: #fff;
}
.n-box .n-tit {
  width: 170px;
  text-align: center;
}
.n-box .n-txt {
  width: 680px;
  padding-left: 32px;
}

.quick {
  position: fixed;
  right: 50px;
  bottom: 145px;
  z-index: 9999;
}
.quick li {
  height: 50px;
  position: relative;
}
.quick li:not(:first-child) {
  margin-top: 10px;
}
.quick li a {
  display: block;
  padding-left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #34558b;
  color: #fff;
  line-height: 50px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  font-size: 14px;
  background-image: url(../img/sp_floating_img3.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 50px 300px;
  transition: width 0.3s ease;
}
.quick li a span {
  display: block;
  margin-right: 20px;
  margin-left: 13px;
}
.quick li a::before {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}
.quick li a:hover {
  width: 166px;
}
.quick li:nth-child(2) a {
  background-position: 0 -100px;
  background-color: #ec193a;
}
.quick li:nth-child(3) a {
  background-position: 0 -150px;
}
.quick li:nth-child(4) a {
  background-position: 0 -200px;
}
.quick li:nth-child(4) a:hover {
  width: 180px;
}
.quick li:nth-child(5) a {
  background-position: 0 -250px;
}
.quick li:nth-child(5) a:hover {
  width: 190px;
}

.kt-header {
  width: 100%;
  position: fixed;
  color: #fff;
  background-color: transparent;
  height: 108px;
  border-bottom: 1px solid transparent;
  z-index: 9999;
}
.kt-header .inner {
  width: 1080px;
  flex-direction: column-reverse;
}
.kt-header .inner .h_top {
  height: 80px;
}
.kt-header .inner .h_bottom {
  height: 37px;
}
.kt-header .inner .logo {
  width: 166px;
  margin-right: 44px;
  margin-top: 18px;
}
.kt-header .inner .logo a {
  display: block;
  height: 31px;
  background: url(../img/gnbLogo_wt_p.png) no-repeat;
}
.kt-header .gnb {
  position: relative;
  top: 25px;
}
.kt-header .gnb > li > a {
  font-size: 18px;
  display: block;
  height: 45px;
  padding-right: 28px;
  position: relative;
}
.kt-header .gnb > li > a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #0e1620;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease;
}
.kt-header .gnb > li:hover > a {
  color: #000;
}
.kt-header .gnb > li:hover > a::before {
  width: calc(100% - 28px);
}
.kt-header .gnb .depth1 {
  width: 100%;
  padding: 42px 0 30px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 180px;
  z-index: 999;
  display: none;
}
.kt-header .gnb .depth1.on {
  top: 108px;
}
.kt-header .gnb .depth1 .inner {
  width: 1080px;
  min-height: 309px;
  position: relative;
}
.kt-header .gnb .depth1 .titbox {
  position: absolute;
  right: 0;
  top: 0;
}
.kt-header .gnb .depth1 .sublist {
  margin-left: 207px;
  border-left: 1px solid #e5e5e5;
  padding-left: 20px;
  height: 309px;
}
.kt-header .gnb .depth1 .sublist a {
  font-size: 16px;
  line-height: 2;
}
.kt-header .gnb .depth1 .sublist a.active {
  color: #ed2028;
}
.kt-header .menulist {
  margin-top: 18px;
}
.kt-header .menulist li {
  font-family: "NotoSans_L";
  text-align: center;
  width: 47px;
}
.kt-header .menulist li:not(:last-child) {
  margin-right: 30px;
}
.kt-header .menulist li a {
  display: block;
  width: 28px;
  height: 26px;
  margin: 0 auto;
  margin-bottom: 9px;
}
.kt-header .menulist li span {
  display: block;
  font-size: 12px;
}
.kt-header .menulist .search a {
  position: relative;
}
.kt-header .menulist .search a::before, .kt-header .menulist .search a::after {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
}
.kt-header .menulist .search a::before {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  left: 0;
  top: 0;
}
.kt-header .menulist .search a::after {
  width: 13px;
  height: 2px;
  background-color: #fff;
  right: 0;
  bottom: 7px;
  transform: rotate(45deg);
}
.kt-header .menulist .search a.active::before, .kt-header .menulist .search a.active::after {
  width: 25px;
  height: 2px;
  left: 50%;
  top: 50%;
  margin-left: -12.5px;
  margin-top: -1px;
}
.kt-header .menulist .search a.active::before {
  border-radius: 0;
  width: 25px;
  height: 2px;
  background-color: #333;
  border: 0 none;
  transform: rotate(-45deg);
}
.kt-header .menulist .search .s-box {
  position: fixed;
  left: 0;
  top: 180px;
  width: 100%;
  height: 190px;
  background-color: #fff;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  display: none;
}
.kt-header .menulist .search .s-box.on {
  top: 108px;
}
.kt-header .menulist .ktalk a {
  background: url(../img/icon_chat_main.png) center top no-repeat;
}
.kt-header .menulist .allmenu {
  position: relative;
}
.kt-header .menulist .allmenu::before {
  content: "";
  width: 28px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 12px;
  margin-left: -14px;
  z-index: 99;
}
.kt-header .menulist .allmenu a {
  width: 28px;
  height: 26px;
  position: relative;
}
.kt-header .menulist .allmenu a::before, .kt-header .menulist .allmenu a::after {
  content: "";
  width: 28px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
.kt-header .menulist .allmenu a::before {
  top: 0;
}
.kt-header .menulist .allmenu a::after {
  bottom: 0;
}
.kt-header .menulist .allmenu.active::before {
  content: none;
}
.kt-header .menulist .allmenu.active a::before, .kt-header .menulist .allmenu.active a::after {
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -1px;
}
.kt-header .menulist .allmenu.active a::before {
  transform: rotate(45deg);
}
.kt-header .menulist .allmenu.active a::after {
  transform: rotate(-45deg);
}
.kt-header .all-menu {
  position: fixed;
  left: 0;
  top: 180px;
  width: 100%;
  height: 353px;
  background-color: #fff;
  display: none;
}
.kt-header .all-menu.on {
  top: 108px;
}
.kt-header.on {
  background-color: #fff;
  color: #666;
  border-bottom-color: #e5e5e5;
}
.kt-header.on .inner .logo a {
  background-image: url(../img/gnbLogo_p.png);
}
.kt-header.on .menulist .search a::before {
  border-color: #333;
}
.kt-header.on .menulist .search a::after {
  background-color: #333;
}
.kt-header.on .menulist .ktalk a {
  background-image: url(../img/icon_chat.png);
}
.kt-header.on .menulist .allmenu::before {
  background-color: #333;
}
.kt-header.on .menulist .allmenu a::before,
.kt-header.on .menulist .allmenu a::after {
  background-color: #333;
}
.kt-header .cp-link li:not(:first-child) {
  margin-left: 10px;
}
.kt-header .cp-link a {
  font-size: 12px;
}

#ktMain {
  width: 100%;
}

.main-visual {
  width: 1920px;
  height: 970px;
  background-color: #333;
  position: relative;
}
.main-visual::before, .main-visual::after {
  content: "";
  width: 50%;
  height: 160px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
}
.main-visual::before {
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 100%, 0 100%);
}
.main-visual::after {
  right: 0;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
          clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
.main-visual .swiper02 {
  width: 100%;
}
.main-visual .swiper02 .swiper-pagination {
  bottom: 200px;
  margin-left: -500px;
}
.main-visual .swiper02 .swiper-pagination span {
  vertical-align: middle;
  margin: 0 5px;
}
.main-visual .swiper02 .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 0.5s;
}
.main-visual .swiper02 .swiper-pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  background-color: transparent;
}
.main-visual .swiper02 .control-btn {
  position: absolute;
  bottom: 200px;
  left: 50%;
  z-index: 9999;
  margin-left: -570px;
  border: 0 none;
  width: 15px;
  height: 16px;
  background: url(../img/bg_slick_stop.png) no-repeat center center;
  cursor: pointer;
}
.main-visual .swiper02 .control-btn.active {
  background-image: url(../img/bg_slick_play.png);
}
.main-visual .cont-box {
  position: absolute;
  left: 50%;
  top: 260px;
  z-index: 9999;
  margin-left: -540px;
  color: #fff;
}
.main-visual .cont-box .cont-tit {
  font-size: 20px;
  margin-bottom: 20px;
}
.main-visual .cont-box .cont-txt {
  font-size: 50px;
  font-family: "NotoSans_B";
  line-height: 70px;
  margin-bottom: 20px;
}
.main-visual .cont-box .cont-list {
  font-size: 20px;
  font-family: "NotoSans_L";
  line-height: 35px;
  margin-bottom: 65px;
}
.main-visual .cont-box .cont-list li {
  position: relative;
  padding-left: 10px;
}
.main-visual .cont-box .cont-list li::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
}
.main-visual .cont-box .sub-btn {
  width: 180px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  color: #fff;
  border-radius: 25px;
}

.sec {
  width: 1080px;
  padding-top: 100px;
  padding-bottom: 80px;
}
.sec .tit-box {
  opacity: 0;
}
.sec .tit-box.ani {
  -webkit-animation: moveUp 1s ease-in-out both;
          animation: moveUp 1s ease-in-out both;
}
.sec.sec03, .sec.sec05 {
  background-color: #e5e5e5;
}
.sec .sec-tit,
.sec .sec-txt {
  text-align: center;
}
.sec .sec-tit {
  width: 170px;
  line-height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 85px;
  position: relative;
}
.sec .sec-tit::before {
  content: "";
  width: 1px;
  height: 38px;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: -56px;
}
.sec .sec-txt {
  color: #222;
  font-size: 35px;
  font-family: "NotoSans_B";
  margin-bottom: 60px;
}

.sec04-tab {
  width: 100%;
  height: 400px;
  position: relative;
  padding-top: 65px;
}
.sec04-tab .sec-sub-tit {
  font-size: 28px;
  font-family: "NotoSans_B";
  margin-bottom: 40px;
}
.sec04-tab .tab-tit {
  width: 340px;
  font-size: 18px;
  margin-bottom: 18px;
  position: relative;
}
.sec04-tab .tab-tit a {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.sec04-tab .tab-tit::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: calc(18% + 32px);
  top: 50%;
  margin-top: -1px;
  z-index: 9999;
  transition: all 0.4s ease;
}
.sec04-tab .tab-tit.active::before {
  width: 80%;
}
.sec04-tab .tab-tit.active a::before {
  content: "";
  width: 100%;
  height: 17px;
  background-color: #2d8aff;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 5px;
}
.sec04-tab .tab-cont {
  width: 740px;
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
}

.family-box {
  width: 1080px;
  padding: 0 20px;
  position: relative;
}
.family-box .swiper03 {
  width: 1040px;
}
.family-box .swiper03 .swiper-slide {
  width: 130px;
}
.family-box .swiper03 .swiper-slide a {
  background: url(../img/p_fm_ico03_off.png) no-repeat center top;
  padding-top: 100px;
  display: block;
  text-align: center;
}
.family-box .swiper03 .swiper-slide:hover a {
  background-image: url(../img/p_fm_ico03_on.png);
}
.family-box .family-prev-btn,
.family-box .family-next-btn {
  width: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.family-box .family-prev-btn a,
.family-box .family-next-btn a {
  display: block;
  height: 27px;
  background: url(../img/btn_swipe_prev_pc.png) no-repeat 0 -27px;
}
.family-box .family-prev-btn.swiper-button-disabled a,
.family-box .family-next-btn.swiper-button-disabled a {
  background-position: 0 0;
}
.family-box .family-prev-btn {
  left: 0;
}
.family-box .family-next-btn {
  right: 0;
}
.family-box .family-next-btn a {
  background-image: url(../img/btn_swipe_next_pc.png);
}

.sec06 {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #000;
  background-image: url(../img/bg_total_search_pc.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec06 h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sec06 p {
  font-size: 15px;
  margin-bottom: 40px;
}
.sec06 a {
  width: 30px;
  border: 2px solid #000;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

#ktFooter {
  width: 1080px;
  margin: auto;
}

.f-menu {
  padding: 20px 30px 20px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.f-menu li a {
  padding: 10px;
  position: relative;
  opacity: 0.5;
}
.f-menu li a::before {
  content: "";
  width: 1px;
  height: 20px;
  border: 1px solid #333;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.f-menu li:nth-child(4) {
  font-weight: bold;
}
.f-menu .f-group {
  padding: 10px 0 10px 40px;
}

.f-txt .f-left {
  margin-right: 150px;
  font-size: 15px;
  color: #666;
}
.f-txt .f-right .f-icon li {
  padding: 15px;
  margin-right: 10px;
  width: 10px;
  cursor: pointer;
  background-image: url(../img/ico_sns_b.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.f-txt .f-right .f-icon li::nth-child(2) {
  background-image: url(../img/ico_sns_f.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-dn {
  width: 39px;
  height: 36px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  z-index: 9999;
  transform: translateX(-50%);
  -webkit-animation: upDown 1s ease-in-out infinite both;
          animation: upDown 1s ease-in-out infinite both;
}
.scroll-dn::before, .scroll-dn::after {
  content: "";
  width: 39px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  left: 0;
  -webkit-clip-path: polygon(0 0, 50% 90%, 100% 0, 100% 10%, 50% 100%, 0 10%);
          clip-path: polygon(0 0, 50% 90%, 100% 0, 100% 10%, 50% 100%, 0 10%);
}
.scroll-dn::before {
  top: 0;
  opacity: 0.5;
}
.scroll-dn::after {
  bottom: 0;
}

.scroll-top {
  position: fixed;
  right: 50px;
  bottom: 65px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  background-image: url(../img/ico_top_btn.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.scroll-top.active {
  opacity: 1;
}