// 색상변수 설정

$black : #000;
$white : #fff;

$gray6 : #666;
$gray3 : #333;
$gray2 : #222;

$graye5 : #e5e5e5;

$blueline : #131d49;
$darkblue : #0e1620;
$lightblue : #21334f;
$skyblue : #2d8aff;
$quickblue : #34558b;




$red : #ed2028;
$red1 : #ec193a;

// 이미지 경로
$url : '../img/';